VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_GOOGLE_ADS_ID=AW-XXXXXXXXXX
VITE_GOOGLE_ADS_MEAL_PLAN_SIGNUP_LABEL=meal_plan_signup_label
VITE_GOOGLE_ADS_PREMIUM_UPGRADE_LABEL=premium_upgrade_click_label
VITE_GOOGLE_ADS_PREMIUM_DOWNLOAD_LABEL=premium_download_open_label
